<div id="<%= dom_id exchange %>">
  <div>
    <strong>Code:</strong>
    <%= exchange.code %>
  </div>

  <div>
    <strong>Name:</strong>
    <%= exchange.name %>
  </div>

  <div>
    <strong>Metadata:</strong>
    <%= exchange.metadata %>
  </div>

</div>
