<p style="color: green"><%= notice %></p>

<% content_for :title, "Exchanges" %>

<h1>Exchanges</h1>

<div id="exchanges">
  <% @exchanges.each do |exchange| %>
    <%= render exchange %>
    <p>
      <%= link_to "Show this exchange", exchange %>
    </p>
  <% end %>
</div>

<%= link_to "New exchange", new_exchange_path %>
