<p style="color: green"><%= notice %></p>

<% content_for :title, "Daily prices" %>

<h1>Daily prices</h1>

<div id="daily_prices">
  <% @daily_prices.each do |daily_price| %>
    <%= render daily_price %>
    <p>
      <%= link_to "Show this daily price", daily_price %>
    </p>
  <% end %>
</div>

<%= link_to "All daily prices", daily_prices_path %>
